.container {
    width: 100%;
    max-width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 1rem 0;
    color: var(--main-text-color);
    position: relative;
    /* white; */
}

.yearContainer {
    margin-right: 3rem;
}

.year {
    font-weight: 800;
    color: var(--lightgray-color);
    /* rgba(255, 255, 255, 0.789); */
}

.works {
    flex: 1;
    max-width: 300px;
}

.tooltip {
    left: 50px;
    bottom: 60px;
}