.title {
    text-align: center;
    z-index: 20;
    width: 100%;
}

.list {
    display: flex;
    justify-content: space-around;
    padding: 2rem;
}

.tag {
    color: #d8bfbf;
    font-size: 1.5rem;
}