.item {
    max-width: 320px;
    display: flex;
    flex-direction: column;
}

@media (max-width:650px) {
    .item {
        max-width: 203px;
    }
}

@media (max-width:480px) {
    .item {
        margin-bottom: 14px;
        max-width: 320px;
        flex-direction: row;
    }
}

.listContaier {
    display: flex;
    flex-direction: column;
}

@media(max-width:480px) {
    .listContainer {
        display: flex;
        margin-left: 18px;
    }
}

.title {
    font-weight: 700;
    font-size: 28px;
    line-height: 32px;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 8px;
}

@media (max-width:650px) {
    .title {
        font-size: 24px;
        line-height: 28px;
    }
}

@media (max-width:480px) {
    .title {
        font-size: 20px;
        line-height: 28px;
        letter-spacing: 0.02em;
        margin-bottom: 4px;
    }
}

.desc {
    font-size: 18px;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.75);
}

@media (max-width:650px) {
    .desc {
        font-size: 16px;
        line-height: 28px;
    }
}

@media (max-width:480px) {
    .desc {
        font-size: 14px;
        line-height: 22px;
    }
}