.wrapper {
    width: 100%;
    height: 100%;
    color: var(--main-text-color);
    background-image: url('assets/images/MainSection/main-bg.png');
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border: 1px solid red;
}

.container {
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 960px) {
    .container {
        flex-direction: column-reverse;
    }
}