.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "pic1 pic2 pic3 pic4";
    justify-items: center;
    column-gap: 10px;
    width: 100%;
}

.gridItem {
    max-width: 250px;
}

.gridItem:nth-child(1) {
    grid-area: pic1;
}

.gridItem:nth-child(2) {
    grid-area: pic2;
}

.gridItem:nth-child(3) {
    grid-area: pic3;
}

.gridItem:nth-child(4) {
    grid-area: pic4;
}

@media (max-width: 1100px) {
    .container {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: "pic1 pic2 pic3" ". pic4 .";
        row-gap: 40px;
        width: 100%;
    }
}

@media (max-width: 820px) {
    .container {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "pic1 pic2" "pic3 pic4";
    }
}

@media (max-width: 600px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-areas: "pic1" "pic2" "pic3" "pic4";
        column-gap: 0;
    }
}