.modalProjectSwiperWrapper .swiper-pagination {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    display: flex !important;
    padding: 5px;
    left: 50% !important;
    transform: translateX(-50%) !important;
    width: fit-content !important;
    cursor: default;
    margin-bottom: -10px;
    opacity: 0;
    transition: opacity 0.2s ease;
}

.modalProjectSwiperWrapper .paginationHovered {
    opacity: 1;
}

.modalProjectSwiperWrapper .swiper-pagination-bullet-active {
    background-color: red;
}

.modalProjectSwiperWrapper .swiper-pagination-bullet {
    background-color: red;
}

.aaa {
    opacity: 0 !important;
}