.container {
    width: 262px;
    height: 64px;
    border-radius: 10px;
    font-size: 24px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 80px;
    color: #fff;
    background: linear-gradient(270deg, #00DBD8 0%, #B133FF 100%);
    cursor: pointer;
    transition: 0.5s ease;
    position: relative;
    overflow: hidden;
    opacity: 1;
}

.alt {
    width: 150px;
    height: 52px;
    font-size: 20px;
    margin: 0;
    background: linear-gradient(270deg, #ff622e 0%, #B133FF 100%);
}

.form {
    margin: 0;
}

.disabled {
    opacity: 0.5;
    background: gray;
}



@media (max-width:650px) {
    .container {
        width: 184px;
        height: 48px;
        font-size: 16px;
        margin-bottom: 64px;
    }

    .alt {
        width: 150px;
        height: 52px;
        font-size: 20px;
        margin-bottom: 0
    }
}

@media (max-width: 480px) {
    .container {
        margin-bottom: 32px
    }

    .alt {
        margin-bottom: 0;
    }
}