.container {
    width: 262px;
    height: 64px;
    border-radius: 50px;
    font-size: 24px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 80px;
    color: #fff;
    background: linear-gradient(270deg, #00DBD8 0%, #B133FF 100%);
    cursor: pointer;
    position: relative;
    opacity: 1;
}

.alt {
    width: 150px;
    height: 52px;
    font-size: 20px;
    margin: 0;
    background: linear-gradient(270deg, #ff622e 0%, #B133FF 100%);
}

.form {
    margin: 0;
}

.disabled {
    opacity: 0.5
}

.outlined {
    border: 2px solid;
    border-image-source: linear-gradient(270deg, #ff622e 0%, #B133FF 100%);
    border-image-slice: 1;
    border-width: 2px;
    background: none;
}

.outlined:hover {
    border-radius: 0;

}

.outlinedBg {
    background: linear-gradient(270deg, #ff622e 0%, #B133FF 100%);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0;
    z-index: 3;
    transition: opacity 0.2s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.outlinedBg:hover {
    opacity: 1
}

.text {
    background: none;
}

.text:hover {
    color: #ffffff9b
}


@media (max-width:650px) {
    .container {
        width: 184px;
        height: 48px;
        font-size: 16px;
        margin-bottom: 64px;
    }

    .alt {
        width: 150px;
        height: 52px;
        font-size: 20px;
        margin-bottom: 0
    }
}

@media (max-width: 480px) {
    .container {
        width: 100%;
        height: 32px;
        font-size: 14px;
        margin-bottom: 32px
    }

    .alt {
        margin-bottom: 0;
    }
}