.title {
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.02em;
    display: flex;
    /* This gradient is different due to the size of the Title container, it must transition sooner to 
    be visible on the text */
    background: linear-gradient(121.57deg, #FFFFFF 10%, rgba(255, 255, 255, 0.66) 30.15%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 8px;
}

@media (max-width:650px) {
    .title {
        font-size: 20px;
        line-height: 28px;
        margin-bottom: 4px;
    }
}

@media (max-width: 480px) {
    .title {
        font-size: 16px;
        line-height: 24px;
    }
}