.container {
    position: relative;
    padding-right: clamp(20px, 10vw, 60px);
    padding-left: clamp(20px, 10vw, 60px);
}

.swiper {
    width: 100%;
}

.slide {
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.navPrev,
.navNext {
    position: absolute;
    color: rgba(255, 255, 255, 0.547);
    font-size: 40px;
    top: calc(50% - 20px);
    z-index: 3;
    cursor: pointer;
    transition: 0.2s ease;
}

.navPrev:hover,
.navNext:hover {
    color: #0269a5;
}

.navPrev {
    left: 0;
    transform: translateY(-50%) translateX(-25%);
}

.navNext {
    right: 0;
    transform: translateY(-50%) translateX(+25%);
}