.container {
    background: #0F1624;
    border-radius: 3px;
    max-width: 196px;
}

@media (max-width:650px) {
    .container {
        max-width: 124px;
    }
}

@media (max-width:480px) {
    .container {
        margin-left: 32px;
        min-width: 120px;
        background: #0E131F;
        padding: 4px;
        align-content: start;
        scroll-snap-align: start;
        border-radius: 3px;
        overflow: visible;
        position: relative;
        height: fit-content;
        opacity: 0.5;
    }

    .active {
        opacity: 1;
    }
}

.text {
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.02em;
    color: rgba(255, 255, 255, 0.75);
    padding-right: 16px;
}

@media (max-width:650px) {
    .text {
        font-size: 12px;
        line-height: 18px;
        padding-right: 32px;
    }
}

@media (max-width:480px) {
    .text {
        font-size: 10px;
        line-height: 16px;
        padding-right: 0;
    }
}