.workContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 1rem;
    cursor: pointer;
}

.workName {
    font-weight: 700;
}

.workCompany {
    font-weight: 400;
    color: gray;
    margin-top: 5px;
}