.workContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 1rem;
    cursor: pointer;
    position: relative;
    color: rgba(255, 255, 255, 0.789);
}

.workName {
    font-weight: 700;
}

.workCompany {
    font-weight: 400;
    color: gray;
    margin-top: 5px;
}

.description {
    width: 100%;
    background-color: #243556cd;
    color: rgba(255, 255, 255, 0.688);
    font-size: 12px;
    padding: 10px;
    border-radius: 5px;
    position: absolute;
    left: 50px;
    bottom: 50px;
}