.container {
    margin-left: 21px;
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    -webkit-mask-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    width: 100%;
}

@media (max-width:480px) {
    .container {
        mask-image: none;
        -webkit-mask-image: none;
        margin-left: 16px;
        overflow: visible;
    }
}