.wrapper {
    width: 100%;
    padding-top: var(--navbar-height);
}

.container {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    margin: 0 auto;
    max-width: 1200px;
    box-sizing: content-box;
    position: relative;
    overflow: hidden;
    grid-template-columns: 1fr 1fr;
    /* border: 1px solid orange; */
}

.fullHeight>.container {
    min-height: calc(100vh - var(--navbar-height));
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 650px) {
    .container {
        flex-direction: column;
    }
}

@media (max-width: 480px) {
    .container {
        flex-direction: column;
    }
}

.grid {
    display: grid;
}

.row {
    flex-direction: row;
}

.noPadding {
    padding: 0;
}