.title {
    font-size: clamp(36px, 3vw + 25px, 56px);
}

@media (max-width: 650px) {
    .title {
        font-size: clamp(30px, 6vw + 2px, 45px);
        line-height: 40px;
    }
}

@media (max-width: 480px) {
    .title {
        font-size: clamp(24px, 5vw + 5px, 40px);
        line-height: 30px;
    }
}