.container {
    margin-top: 10px;
    font-size: 14px;
    word-break: break-word;
}

.paragraph {
    mask-image: var(--main-bg-color);
    /* linear-gradient(rgba(0, 0, 0, 1) 0%,
            rgba(0, 0, 0, 0.35) 80%,
            rgba(0, 0, 0, 0) 100%); */
    line-height: 1.4;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}