.container {
    width: 190px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin: 2rem;
    color: white;
}

.container img {
    width: 100%;
    height: 170px;
    border-radius: 15px;
    object-fit: cover;
}

/* .infoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */