.wrapper {
    width: calc(100vw - 96px);
    max-width: 1040px;
    padding: 2rem 48px 40px;
    margin: 1rem auto;
    box-sizing: content-box;
    color: rgba(255, 255, 255, 0.789);
}

.list {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
    padding: 40px 0 28px;
}

.column {
    width: 100%;
    display: flex;
    flex-direction: column;
    max-width: 220px;
    width: 100%;
}

.linkTitle {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 24px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.4);
    margin-bottom: 16px;
}

.link {
    width: 100%;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.75);
    margin-bottom: 16px;
    transition: .3s ease;
    position: relative;
    left: 0;
}

.link:hover {
    color: #fff;
    left: 6px;
}

.socialsContainer {
    max-width: 1040px;
    display: flex;
    justify-content: space-between;
}

.companyContainer {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-right: auto;
}

.slogan {
    color: rgba(255, 255, 255, 0.5);
    min-width: 270px;
    letter-spacing: 0.02em;
    font-size: 18px;
    line-height: 30px;
}

.socialIcons {
    padding-right: 20px;
}

@media (max-width: 960px) {
    .list {
        padding: 32px 0 16px;
    }
}

@media(max-width: 650px) {
    .slogan {
        font-size: 16px;
        line-height: 28px;
    }

    .list {
        width: 100%;
        padding: 32px 0 16px;
        gap: 16px;
    }

    .link {
        font-size: 16px;
        line-height: 28px;
        display: flex;
    }

    .companyContainer {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
    }

    .socialsContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
}

@media(max-width: 480px) {
    .slogan {
        line-height: 22px;
        font-size: 14px;
        min-width: 100px;
    }

    .linkTitle {
        font-size: 10px;
        line-height: 12px;
        margin-bottom: 8px;
    }

    .link {
        grid-template-columns: repeat(2, 220px);
    }

    .companyContainer {
        display: flex;
        flex-direction: column;
        margin: 0 0 32px;
        align-items: center;
    }

    .socialsContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        flex-direction: column;
    }

    .list {
        width: 100%;
        padding: 32px 4px 16px;
        gap: 5px;
        flex-direction: column;
    }

    .wrapper {
        padding: 0 16px 48px;
        width: calc(100vw - 32px);
    }
}