.title {
    font-weight: 800;
    font-size: 56px;
    line-height: 56px;
    width: max-content;
    max-width: 100%;
    background: linear-gradient(121.57deg, #FFFFFF 18.77%, rgba(255, 255, 255, 0.66) 60.15%);
    background-clip: text;
    /* added */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 16px;
    padding: 0;
}

.main {
    font-size: clamp(54px, 5vw + 20px, 65px);
    line-height: 72px;
    padding: 58px 0 16px;
}

.center {
    margin: 0 auto;
}

@media(max-width: 650px) {
    .title {
        font-size: 48px;
        line-height: 48px;
        margin-bottom: 12px;
        padding: 0
    }

    .main {
        font-size: clamp(40px, 6vw + 10px, 56px);
        line-height: 56px;
        padding: 40px 0 12px;
    }
}

@media(max-width: 480px) {
    .title {
        font-size: 32px;
        line-height: 40px;
        font-size: 32px;
        line-height: 40px;
        margin-bottom: 8px;
        padding: 0;
        max-width: 100%;
    }

    .main {
        font-size: clamp(27px, 6.5vw + 6px, 42px);
        line-height: 40px;
        padding: 16px 0;
    }
}