* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    cursor: default;
}

img {
    max-width: 100%;
}

input,
button,
textarea,
select {
    margin: 0;
    font: inherit;
}

:root {
    --main-bg-color: #0c0614;
    --navbar-bg-color: #1f202923;
    --modal-bg-color: #1e293d;
    --main-text-color: #f1f1f1;
    --accent-color: #743AD0;
    /* --accent-color: #743AD0; */
    --tooltip-bg-color: #b07df281;
    --alternative-color: #5FB2F8;
    --gray-color: #6b7688;
    --lightgray-color: #e4e4e4;
    --warning-color: red;

    /* FONTS */

    --xx-small-fonts: 9px;
    --x-small-fonts: 10px;
    --small-fonts: 13px;

    --medium-font: 16px;

    --large-fonts: 18px;
    --x-large-fonts: 24px;
    --xx-large-fonts: 32px;


    /* HEIGHTS */

    --navbar-height: 70px;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    background: var(--main-bg-color);
    font-family: 'Space Grotesk', sans-serif;
    font-size: 1.6rem;
}

a {
    text-decoration: none;
}

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

span.accent {
    -webkit-text-fill-color: var(--accent-color)
}