* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

input,
button,
textarea,
select {
    margin: 0;
    font: inherit;
}

:root {
    /*     --primary1-color: hsl(204, 23.8%, 95.9%);
    --background1-color: #0F1624;
    --project-card-background: #1e293d;
    --accent1-color: hsl(34.9, 98.6%, 72.9%);
    --button-color: hsl(205.1, 100%, 36.1%);
    --background2-color: hsl(232.7, 27.3%, 23.7%);

    --primary-color: #edf2f8;
    --secondary-color: #313bac;
    --black-color: #030303;
    --lightGray-color: #e4e4e4;
    --brown-color: #46364a;
    --white-color: #ffffff; */

    --main-bg-color: #1f2029;
    --modal-bg-color: #1e293d;
    --main-text-color: #f1f1f1;
    --accent-color: #b07df2;
    --alternative-color: #4a90e2;
    --gray-color: #6b7688;
    --lightgray-color: #e4e4e4;
    --warning-color: red;

    /* FONTS */

    --xx-small-fonts: 9px;
    --x-small-fonts: 10px;
    --small-fonts: 13px;
    --medium-fonts: 16px;
    --large-fonts: 18px;
    --x-large-fonts: 24px;
    --xx-large-fonts: 32px;

}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    background: var(--main-bg-color);
    font-family: 'Space Grotesk', sans-serif;
    font-size: 1.6rem;
}

a {
    text-decoration: none;
}

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

span.accent {
    -webkit-text-fill-color: var(--accent-color)
}