.container {
    background-color: white;
    width: 300px;
    height: 300px;
    z-index: 100;
    position: relative;

    border-radius: 0.5rem;
    transition: all 0.3s ease;

    display: flex;
    justify-content: center;
    align-items: center;
}

.close {
    position: absolute;
    cursor: pointer;
    top: 10px;
    right: 10px;
    font-size: 20px;
    z-index: 10;
}

.iconContainer {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    width: 50%;
    height: 50%;
    color: white;
}