.container {
    width: 100%;
    max-width: 800px;
    height: max-content;
    display: flex;
    flex-direction: row;
}

.list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    margin: 3rem 0;


}

@media (max-width:960px) {
    .container {
        max-width: 600px;
    }

    .list {
        margin: 64px 0;
    }
}

@media (max-width:650px) {
    .list {
        margin: 64px 0;
        gap: 24px
    }
}

@media (max-width:480px) {
    .list {
        margin: 32px 0;
    }
}